.container{
    margin: auto;
    background-color:transparent;
    width: 50%;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 300px;
    margin-top: 9%;
    border-radius: 5px;
    
    box-shadow: 3px 5px 8px black;

}

.title1{
    color: white;
    height: 200px;
    font-size: 40px;
    text-shadow: 2px 4px 6px black;

}
.Google{
    width: 40px;
    height: 40px;
    order: 2px solid rgb(23, 106, 249);
    
}

.input1{
    width: 80%;
    height: 10%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid white;
    background-color: transparent;
    margin-top: 5%;
    color: white;
    font-size: 20px;
    font-weight: bold;


}
.sub{
    height: 40px;
    margin-top: 2%;
    text-transform: uppercase;
    display: inline-flex;
    
}
.Gtext{
    font-size: 10ox;
    background-color: rgb(23, 106, 249);
    border: 2px solid rgb(23, 106, 249);
    color: white;
    text-transform: uppercase;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}
.sub_but{

}
.G_button{
    
    background-color: transparent;
    text-transform: uppercase;
    
}
.Google1{
    margin-left: 10%;
    width: 98%;
    display: inline-flex;
    background-color: white ;
    font-size: 10px;
    text-decoration: none;
    color: black;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
    border: 2px solid rgb(23, 106, 249);
    
}

.Submit{
    width: 100%;
    height: 100%;
    background-color: rgb(4, 72, 139);
    font-size: 22px;
    color: aliceblue;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    
    
}
:hover.Submit{
    background-color: rgb(44, 191, 240);
    box-shadow: 2px 2px 2px black;
}
.link{
    text-decoration: none;
    color: aliceblue;
    
}

.end{
    background-color: gray;
}